<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Object Detection</title>
  </head>
  <body>
    <form method="post" action="/object-detection-histogram"  enctype="multipart/form-data">   
        <label for="file">Choose image to upload</label>
        <input type="file" id="files" name="file"><br> 
        <input type="submit" value="Upload">
     </form>
  </body>
</html>